@import './fonts/fonts.scss';
@import './constants/null.scss';
@import './constants/base.scss';
@import './libs/swiper.scss';
@import 'components/footer';
@import './components/header';
@import './components/features';
@import './components/selectors';
@import './components/main';
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../images/accomodate/cards/bg_Arta_8iphone_1.png');
  background-size: 100%;
  background-repeat: no-repeat;
}















